/.DS_Store
/.atom/
/.idea/
/.vscode/*

# Files and directories created by pub
/.dart_tool/
/.packages/
/**/pubspec.lock

# Local development
/melos_overrides.yaml
/**/melos_*.iml
/**/pubspec_overrides.yaml

# Testing
/coverage/







# =============== EXCEPTIONS ===============
!/.vscode/dummy-yaml-schema.json
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json

# Included in the git repo as per requirement of `melos`.
# See: https://melos.invertase.dev/getting-started#configure-the-workspace
!/pubspec.lock
