# Miscellaneous
/*.class
/*.log
/*.pyc
/*.swp
/.DS_Store
/.atom/
/.buildlog/
/.history
/.svn/
/migrate_working_dir/

# IntelliJ related
/*.iml
/*.ipr
/*.iws
/.idea/

# VS Code
/.vscode/

# Flutter/Dart/Pub related
/**/doc/api/
/**/ios/Flutter/.last_build_id
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages/
/.pub-cache/
/.pub/
/build/
/**/untranslated-messages.json

# Testing
/coverage/






# Local development
/melos_overrides.yaml
/**/melos_*.iml
/**/pubspec_overrides.yaml

# Project platforms
/**/__brick__/**/linux/
/**/reference_app/**/linux/
/**/__brick__/**/macos/
/**/reference_app/**/macos/
/**/__brick__/**/web/
/**/reference_app/**/web/
/**/__brick__/**/windows/
/**/reference_app/**/windows/






# =============== EXCEPTIONS ===============
!/.vscode/extensions.json
!/.vscode/settings.json
!/.vscode/dummy-yaml-schema.json
!/.vscode/*.code-snippets

# Included in the git repo as per requirement of `melos`.
# See: https://melos.invertase.dev/getting-started#configure-the-workspace
!/pubspec.lock
