name: altoke_bricks_monorepo
repository: https://github.com/mrverdant13/altoke_bricks

environment:
  sdk: ">=3.10.0 <4.0.0"

dev_dependencies:
  coverde: ^0.3.0+1
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  categories:
    e2e:
      - bricks/**/e2e
    hooks:
      - bricks/**/brick/hooks
    references:
      - bricks/**/reference
      - bricks/**/reference/**
    scopes:
      - bricks/*
    tools:
      - tools/*

  command:
    bootstrap:
      environment:
        sdk: ">=3.10.0 <4.0.0"
        flutter: ">=3.38.7 <4.0.0"
      dependencies:
        collection: ^1.19.1
        intl: ^0.20.2
        mason: ^0.1.2
        meta: ^1.17.0
        path: ^1.9.1
      dev_dependencies:
        build_runner: ^2.10.5
        collection: ^1.19.1
        coverde: ^0.3.0
        mason: ^0.1.2
        melos: ^7.3.0
        meta: ^1.17.0
        mocktail: ^1.0.4
        path: ^1.9.1
        test: ^1.29.0
        very_good_analysis: ^10.0.0
    clean:
      hooks:
        pre:
          run: >
            melos run --include-private .clean

  scripts:
    # Clean-up
    .clean:
      private: true
      description: Deep clean-up
      # Preserves FVM internal folder to avoid re-installing the Flutter SDK when developing locally.
      # Preserves platform-specific folders to keep them for local development.
      run: >
        git clean
        --exclude="!.fvm"
        --exclude="!env.*.json"
        --exclude="!linux"
        --exclude="!macos"
        --exclude="!web"
        --exclude="!windows"
        -dfX
        MELOS_ROOT_PATH

    # Code generation
    gen:
      description: Run code generation for a package
      run: >
        dart run build_runner build
        --delete-conflicting-outputs
      exec:
        concurrency: 1
        failFast: true
        orderDependents: true
      packageFilters:
        dependsOn:
          - build_runner
    gen.l10n:
      description: Generate l10n code for a package
      run: flutter gen-l10n
      packageFilters:
        fileExists:
          - l10n.yaml
      exec:
        concurrency: 1
        failFast: true
    gen.all:
      description: Run code generation for all packages
      steps:
        - gen
        - gen.l10n
    gen.all.fast:
      description: Run code generation for all packages (multi-threaded)
      run: >
        melos exec
        --depends-on build_runner
        --order-dependents
        -- "
        dart run build_runner build
        --delete-conflicting-outputs
        "
        &&
        melos exec
        --file-exists l10n.yaml
        --order-dependents
        -- "
        flutter gen-l10n
        "

    # Spell checking
    spellcheck:
      description: Run spell checking for the entire project
      run: >
        cspell lint
        --config .cspell/cspell.yaml
        --no-progress
        "MELOS_ROOT_PATH/**"

    # Formatting
    format:
      description: Format a package
      run: >
        dart format .
      exec:
        concurrency: 1
      packageFilters:
        ignore:
          - "*_brick_scope"
    format.all:
      description: Format all packages
      steps:
        - format
    format.ci:
      description: Format all packages (CI)
      run: >
        melos exec
        --ignore "*_brick_scope"
        --order-dependents
        --fail-fast
        -- "
        dart format
        --set-exit-if-changed
        .
        "

    # Analyzing
    analyze:
      description: Analyze a package
      run: >
        flutter analyze --no-pub
    analyze.ci:
      description: Analyze all packages (CI)
      run: >
        flutter analyze
        --no-pub
        --fatal-infos
        --fatal-warnings
        --no-congratulate
        --no-preamble

    # Testing & Coverage
    test.dart:
      description: Run tests and generate coverage trace file for a Dart package
      run: >
        dart run coverde optimize-tests
        --include 'test/**_test.dart'
        --output 'test/optimized_test.dart'
        &&
        dart test
        --color
        --coverage-path coverage/lcov.info
        --exclude-tags ci-only
        --reporter expanded
        --test-randomize-ordering-seed random
        test/optimized_test.dart
      exec:
        concurrency: 1
        orderDependents: true
      packageFilters:
        dependsOn:
          - test
        dirExists:
          - test
        flutter: false
    test.flutter:
      description: Test a Flutter package
      run: >
        dart run coverde optimize-tests
        --include 'test/**_test.dart'
        --output 'test/optimized_test.dart'
        &&
        flutter test
        --coverage
        --exclude-tags ci-only
        --reporter expanded
        --test-randomize-ordering-seed random
        test/optimized_test.dart
      exec:
        concurrency: 1
        orderDependents: true
      packageFilters:
        dependsOn:
          - flutter_test
        dirExists:
          - test
        flutter: true
    test.e2e:
      description: Run E2E tests
      run: >
        dart test
        --run-skipped
        --tags e2e
        e2e
      packageFilters:
        category:
          - e2e
        dirExists:
          - e2e
        flutter: false
      exec:
        concurrency: 1
        orderDependents: true
    test.all:
      description: Run tests for all packages
      steps:
        - test.dart
        - test.flutter
    test.e2e.all:
      description: Run E2E tests for all packages
      steps:
        - test.e2e
    test.ci:
      description: Run tests for all packages (CI)
      run: >
        melos exec
        --depends-on test
        --dir-exists test
        --fail-fast
        --no-flutter
        --order-dependents
        -- "
        dart run coverde optimize-tests
        --include 'test/**_test.dart'
        --output 'test/optimized_test.dart'
        &&
        dart test
        --coverage-path coverage/lcov.info
        --exclude-tags ci-only
        --reporter expanded
        --test-randomize-ordering-seed random
        test/optimized_test.dart
        "
        &&
        melos exec
        --depends-on flutter_test
        --dir-exists test
        --fail-fast
        --flutter
        --order-dependents
        -- "
        dart run coverde optimize-tests
        --include 'test/**_test.dart'
        --output 'test/optimized_test.dart'
        &&
        flutter test
        --coverage
        --exclude-tags ci-only
        --reporter expanded
        --test-randomize-ordering-seed random
        test/optimized_test.dart
        "
    coverage.merge:
      description: Merge all packages coverage trace files
      run: >
        dart run coverde rm
        --no-dry-run
        MELOS_ROOT_PATH/coverage/filtered.lcov.info
        &&
        melos exec
        --file-exists coverage/lcov.info
        --
        "
        dart run coverde filter
        --base-directory MELOS_ROOT_PATH
        --filters '\.drift\.dart,\.freezed\.dart,\.g\.dart,\.gr\.dart,\.mapper\.dart'
        --input coverage/lcov.info
        --output MELOS_ROOT_PATH/coverage/filtered.lcov.info
        "
    coverage.check:
      description: Check test coverage
      run: >
        dart run coverde check
        --input MELOS_ROOT_PATH/coverage/filtered.lcov.info
        100

    # Documentation
    docs.root:
      description: Resolve root README file
      run: >
        dart run MELOS_ROOT_PATH/tools/readmes_resolver/lib/reset_root_readme.dart
        &&
        melos exec -c 1 --category=scopes -- "dart run MELOS_ROOT_PATH/tools/readmes_resolver/lib/resolve_root_readme.dart"
    docs.brick:
      description: Resolve brick README files
      run: >
        dart run MELOS_ROOT_PATH/tools/readmes_resolver/lib/resolve_brick_readme.dart
      exec:
        concurrency: 1
      packageFilters:
        category:
          - scopes
    docs.all:
      description: Resolve all README files
      steps:
        - docs.root
        - docs.brick

    # Misc
    issues:
      description: List referenced issues
      run: dart run MELOS_ROOT_PATH/tools/referenced_issues_finder/lib/main.dart

    # Brick management
    brick.gen:
      description: Generate brick
      run: >
        dart run MELOS_ROOT_PATH/tools/brick_generator/lib/main.dart
      exec:
        concurrency: 1
      packageFilters:
        category:
          - scopes
    brick.gen.all:
      description: Generate brick for all packages
      steps:
        - brick.gen
    brick.install:
      description: Add brick globally
      run: dart run MELOS_ROOT_PATH/tools/local_brick_installer/lib/install_local_brick.dart
      exec:
        concurrency: 1
        failFast: true
      packageFilters:
        category:
          - scopes
    brick.all:
      description: Generate brick and add it globally
      steps:
        - brick.gen
        - brick.install

    # Dependencies management
    deps.outdated:
      description: Check outdated dependencies
      run: >
        melos exec -- "dart pub outdated --no-dev-dependencies"
        &&
        melos exec -- "dart pub outdated --dev-dependencies"

workspace:
  - bricks/altoke_app
  - bricks/altoke_app/brick/hooks
  - bricks/altoke_app/e2e
  - bricks/altoke_app/reference/altoke_app
  - bricks/altoke_app/reference/altoke_app/packages/app
  - bricks/altoke_common
  - bricks/altoke_common/brick/hooks
  - bricks/altoke_common/e2e
  - bricks/altoke_common/reference/common
  - bricks/altoke_dart_package
  - bricks/altoke_dart_package/brick/hooks
  - bricks/altoke_dart_package/e2e
  - bricks/altoke_dart_package/reference/altoke_dart_package
  - bricks/altoke_entities
  - bricks/altoke_entities/brick/hooks
  - bricks/altoke_entities/e2e
  - bricks/altoke_entities/reference/altoke_entities
  - bricks/altoke_local_database
  - bricks/altoke_local_database/brick/hooks
  - bricks/altoke_local_database/e2e
  - bricks/altoke_local_database/reference/local_database/drift_local_database
  - bricks/altoke_local_database/reference/local_database/hive_local_database
  # - bricks/altoke_local_database/reference/local_database/isar_local_database
  - bricks/altoke_local_database/reference/local_database/local_database
  - bricks/altoke_local_database/reference/local_database/sembast_local_database
  - bricks/altoke_reactive_caches
  - bricks/altoke_reactive_caches/brick/hooks
  - bricks/altoke_reactive_caches/e2e
  - bricks/altoke_reactive_caches/reference/reactive_caches
  - tools/brick_generator
  - tools/data_persistence_approach
  - tools/local_brick_installer
  - tools/local_database_alternative
  - tools/monorepo_elements
  - tools/pubspec_deps_sorter
  - tools/readmes_resolver
  - tools/referenced_issues_finder
  - tools/router_package
  - tools/shell
  - tools/state_management_package
  - tools/value_equality_approach
