# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
/.dart_tool/
/.packages
/build/
/pubspec.lock

# Testing
/coverage/

# Platforms
/**/packages/app/ios/
/**/packages/app/linux/
/**/packages/app/macos/
/**/packages/app/web/
/**/packages/app/windows/

# Generated source files
/**/__brick__/**/*.g.dart
/**/__brick__/**/*.gr.dart
