name: {{#use_drift}}drift_local_database{{/use_drift}}
description: A persistent local database built on top of Drift (SQLite).
version: 0.0.1+1
publish_to: none

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  common:
    path: ../../common/
  collection: ^1.19.1
  drift: ^2.30.0
  {{#requirements_met}}local_database{{/requirements_met}}:
    path: ../{{#requirements_met}}local_database{{/requirements_met}}/
  meta: ^1.17.0

dev_dependencies:
  build_runner: ^2.10.4
  drift_dev: ^2.30.0
  test: ^1.26.3
  very_good_analysis: ^10.0.0
