name: altoke_app
description: An Altoke App.
publish_to: none
version: 1.0.0+1
resolution: workspace

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.2 <4.0.0"

dependencies:
  #remove-start#
  altoke_common:
    path: ../../../../../altoke_common/reference/common/
  #remove-end-x#
  #{{#use_auto_route}}x#
  auto_route: ^10.2.2
  #{{/use_auto_route}}#
  bloc_concurrency: ^0.3.0
  dart_mappable: ^4.6.1
  #remove-start#
  drift: ^2.29.0
  drift_flutter: ^0.2.7
  drift_local_database:
    path: ../../../../../altoke_local_database/reference/local_database/drift_local_database/
  #remove-end-x#
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_localizations:
    sdk: flutter
  flutter_riverpod: ^3.0.3
  #{{#use_go_router}}x#
  go_router: ^17.0.0
  #{{/use_go_router}}x#
  #remove-start#
  hive: ^2.2.3
  hive_local_database:
    path: ../../../../../altoke_local_database/reference/local_database/hive_local_database/
  #remove-end#
  intl: ^0.20.2
  #x-remove-start#
  local_database:
    path: ../../../../../altoke_local_database/reference/local_database/local_database/
  path: ^1.9.1
  path_provider: ^2.1.5
  #remove-end#
  riverpod_annotation: ^3.0.3

dev_dependencies:
  #{{#use_auto_route}}x#
  auto_route_generator: ^10.2.6
  #{{/use_auto_route}}x#
  build_runner: ^2.7.1
  custom_lint: ^0.8.0
  dart_mappable_builder: ^4.6.0
  flutter_test:
    sdk: flutter
  #{{#use_go_router}}x#
  go_router_builder: ^4.1.1
  #{{/use_go_router}}x#
  meta: ^1.16.0
  mocktail: ^1.0.4
  #insert-start#
  # #w 1v w#
  # #w 2> w# path: ^1.9.1
  #insert-end#
  #remove-start#
  path_provider_platform_interface: ^2.1.2
  plugin_platform_interface: ^2.1.8
  #remove-end#
  #w 1v 2> w#
  riverpod_generator: ^3.0.3
  riverpod_lint: ^3.0.3
  very_good_analysis: ^10.0.0

flutter:
  generate: true
  uses-material-design: true
