name: drift_local_database
description: A persistent local database built on top of Drift (SQLite).
version: 0.0.1+1
publish_to: none
#remove-start#
resolution: workspace
#remove-end#
#w 2v w#

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  #w 1v 2> w#
  #replace-start#
  altoke_common:
    path: ../../../../altoke_common/reference/common/
  #with i2#
  # common:
  #   path: ../../common/
  #replace-end#
  #w 1v 2> w#
  collection: ^1.19.1
  drift: ^2.30.0
  local_database:
    path: ../local_database/
  meta: ^1.17.0

dev_dependencies:
  build_runner: ^2.10.4
  #remove-start#
  coverde:
    git:
      url: https://github.com/mrverdant13/coverde.git
      ref: 019bf05daa0d9032d43a296ba67aff1cee154a8e
      path: packages/coverde_cli/
  #remove-end-x#
  drift_dev: ^2.30.1
  test: ^1.26.3
  very_good_analysis: ^10.0.0
