name: {{#use_sembast}}sembast_local_database{{/use_sembast}}
description: A persistent local database built on top of Sembast.
version: 0.0.1+1
publish_to: none

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  common:
    path: ../../common/
  collection: ^1.19.1
  {{#requirements_met}}local_database{{/requirements_met}}:
    path: ../{{#requirements_met}}local_database{{/requirements_met}}/
  meta: ^1.17.0
  sembast: ^3.8.5+2

dev_dependencies:
  test: ^1.26.3
  very_good_analysis: ^10.0.0
