name: {{#use_hive}}hive_local_database{{/use_hive}}
description: A persistent local database built on top of Hive.
version: 0.0.1+1
publish_to: none

environment:
  sdk: ">=3.9.0 <4.0.0"

dependencies:
  common:
    path: ../../common/
  collection: ^1.19.1
  hive: ^2.2.3
  {{#requirements_met}}local_database{{/requirements_met}}:
    path: ../{{#requirements_met}}local_database{{/requirements_met}}/
  meta: ^1.16.0

dev_dependencies:
  test: ^1.26.2
  very_good_analysis: ^10.0.0
