# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
/.dart_tool/
/.packages
/build/
/pubspec.lock

# Testing
/coverage/
/test/optimized_tests.dart

# Generated source files
/**/__brick__/**/*.freezed.dart
/**/__brick__/**/*.mapper.dart
