# cspell:ignore choco,longpaths
name: ci

on:
  pull_request:
    branches:
      - main
    paths:
      - "!.github/**"
      - ".github/workflows/ci.yaml"
      - "bricks/**"
  push:
    branches:
      - main
    paths:
      - "!.github/**"
      - ".github/workflows/ci.yaml"
      - "bricks/**"

jobs:
  min-conditions:
    name: Check spelling, format and analyze codebase
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Check spelling
        uses: streetsidesoftware/cspell-action@v8
        with:
          config: ./.cspell/cspell.yaml
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.7
      - name: Install melos
        run: dart pub global activate melos 7.1.0
      - name: Initialize melos
        run: melos bootstrap
      - name: Format and analyze
        run: melos run format.ci && melos run analyze.ci

  test:
    name: Test implementation
    needs: min-conditions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Support long paths on Windows
        if: matrix.os == 'windows-latest'
        run: |
          git config --system core.longpaths true
      - name: Install SQLite on Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt install -y libsqlite3-dev
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Ignore tests related to SQLite on Windows
        if: matrix.os == 'windows-latest'
        run: |
          echo "ignore:
            - '**/*drift*'
          " >> ./melos_overrides.yaml
          type ./melos_overrides.yaml
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.7
      - name: Install melos
        run: dart pub global activate melos 7.1.0
      - name: Install coverage
        run: dart pub global activate coverage 1.9.0
      - name: Initialize melos
        run: melos bootstrap
      - name: Run tests
        run: melos run test.ci
      - name: Merge coverage data
        run: melos run coverage.merge
      - name: Log merged coverage data
        run: cat coverage/filtered.lcov.info
      - name: Check coverage
        run: melos run coverage.check
