name: ci

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'packages/brick/*.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'packages/brick/*.md'

jobs:
  min-conditions:
    name: Check spelling, format and analyze codebase
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Check spelling
        uses: streetsidesoftware/cspell-action@v5
        with:
          config: ./.cspell/cspell.yaml
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.16.9
      - name: Install melos
        run: dart pub global activate melos 4.1.0
      - name: Initialize melos
        run: melos bs
      - name: Format and analyze
        run: melos run format.ci && melos run analyze.ci

  test:
    name: Test implementation
    needs: min-conditions
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.16.9
      - name: Install melos
        run: dart pub global activate melos 4.1.0
      - name: Install coverage
        run: dart pub global activate coverage 1.7.2
      - name: Install coverde
        run: dart pub global activate coverde 0.2.0+2
      - name: Initialize melos
        run: melos bs
      - name: Run tests, merge coverage data, and check coverage
        run: melos run test.ci && melos run coverage.merge && melos run coverage.check
